/* =====================================
>>> Classes
======================================*/

// Backgrounds
.bg {
  &-grey {
    background-color: $mygrey;
  }
  &-skyblue {
    background-color: $myskyblue;
  }
  &-darkgrey{
    background-color: $mydarkgrey;
  }
}

// Text
.text {
  &-blue {
    color: $myblue;
  }
}
