/* =====================================
>>> Colours
======================================*/

$mygrey: #bbb;
$myblue: #3059a9;
$mydarkblue: #0a1f4e;
$myskyblue: #07C8E4;
$mypink: #db5bdc;
$mywhite: #fefefe;
