/* =====================================
>>> Colours
======================================*/

$mygrey: #777;
$myblue: #2463eb;
$mydarkblue: #10172a;
$myskyblue: #61d9fb;
$mypink: #db5bdc;
$mywhite: #fefefe;
$mydarkgrey: #1e293b;
$myred: #F34E29;
